body{
    font-family: "Roboto", sans-serif;;
    color: #434455;
    background-color: #FFFFFF;
}
header{
    
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
}
.logo-title {
    color: #2e2f42;
}

.navigation {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    list-style: none;}
.navigation-button{}
.navigation-button-link {
    color: #2e2f42;
    text-decoration: none;}
.navigation-button-link:hover,
.navigation-button-link:focus {
    color: #404bbf;}
.navigation li:first-child:active{text-decoration: underline;}

.address {}
.contacts {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    list-style: none;}
.contacts-button {}
.contacts-button-link {
    color: #2e2f42;
    text-decoration: none;}
.contacts-button-link:hover, .contacts-button-link:focus {color: #404bbf;}


.title {}

.title-button {}


.advantages {}

.advantages-about {}


.team {}

.team-items {}


.portfolio {}

.portfolio-items {}



.footer {}

.footer-logo {}

.footer-logo-title {}

.footer-licenses {}